body {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background: cadetblue;
}

.ctrl-area {
    padding: 5px;
    margin: 0 auto;
}

#capture-view {
    width : 160px;
    height : 120px;
    float : left;
    margin-top : 40px;
    border-style : none;
    border-radius: 10px;
    visibility: hidden;
}

#camangle-h-ctrl-area {
    float: left;
}

#camangle-v-ctrl-area {
    float: left;
}

#steering-ctrl-area {
    clear: left;
    float: left;
    padding-left :90px;
}

#speed-ctrl-area {
    float: left;
}

#btn-connect{
    border-radius: 5px;
    width : 100px;
}

.key-area{
    padding-bottom: 5px;
}

.ctrl-title {
    margin: 3px;
    background: darkblue;
    color: white;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.ctrl-val {
    margin: 3px;
    background: white;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.ctrl-cvs {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: black;
    border-radius: 10px;
}
